on:
    workflow_dispatch:
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: test1
              uses: khunly82/DemoCICD@v1/hello
              with:
                  name: Khun